DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database>"
NODE_ENV="development"
JWT_SECRET="base64encodedsecretkey"
JWT_EXPIRES_IN="timeframe like 7d, 24h, etc."
PASSWORD_RESET_EXPIRE="15m"
FRONTEND_URL="http://localhost:5173,http://localhost:5174"
